## === Visual Studio & .NET Framework  ===
# Build results
[Bb]in/
[Oo]bj/

# VS папка настроек
.vs/

# Конфигурация пользователя
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet пакеты (если в решении пакеты в packages/)
packages/

# Отладочная информация и кэш
*.pdb
*.cache
*.log
*.tlog

# Резервные файлы
*.bak
*~    
BattleShip/.vs/BattleShip/v17/.suo
BattleShip/.vs/BattleShip/v17/DocumentLayout.backup.json
BattleShip/.vs/BattleShip/v17/DocumentLayout.json
BattleShip/bin/Debug/BattleShip.exe
BattleShip/bin/Debug/BattleShip.pdb
BattleShip/obj/Debug/BattleShip.exe
BattleShip/obj/Debug/BattleShip.pdb
